body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}
title {
  padding-top: 50px;
}
.mainsection {
  /* position: relative;
  height: 100vh; */
  background: url("images/bg-1.jpg"), rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 120%;
  background-blend-mode: color;
  background-position: 50% 50%;
  min-height: 100vh;
  overflow: hidden;
}
footer {
  color: #dbedf3;
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.shake {
  animation-name: shakeIt;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}
.s {
  background-image: url("images/tom3.png");
  background-size: 55%;
}

.d {
  background-image: url("images/tom4.png");
  background-size: 55%;
}

.j {
  background-image: url("images/snare.png");
  background-size: 58%;
}

.k {
  background-image: url("images/crash.png");
  background-size: 35%;
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 5px solid #404b69;
  border-radius: 50%;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  display: inline-block;
  padding: 20px 0px;
  min-width: 225px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
.drum::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.drum:hover {
  border-color: #da0463;
}

.back_image img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  -webkit-filter: blur(3px);
}
.pressed {
  border-color: #da0463;
}
.image_text h1 {
  position: absolute;
  top: 35%;
  left: 20%;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
}

.image_button .flip {
  font-size: 30px;
  border: 3px solid #da0463;
  font-family: "Arvo", cursive;
  border-radius: 100px;
  color: #dbedf3;
  cursor: pointer;
  position: absolute;
  background: #da0463;
  top: 60%;
  left: 45%;
}

.image_button .flip:hover {
  background: #da0463ff;
  color: #dbedf3;
  box-shadow: 0 0 50px #dbedf3, 0 0 21px #dbedf3;
}
